<div class="container-fluid">
    <div class="row">
        <header class=" header">
            <div class="firstSec">
                <div class="forDeskTop">
                    <a href="/egypt-ar/" id="btn_logo">
                        <div >
                            <img src="https://f.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-en.svg">
                        </div>
                    </a>
                    <div class="d-flex align-items-center mx-1">
                        <div>
                        <img
                        src="https://f.nooncdn.com/s/app/com/common/images/flags/eg.svg" alt="country-eg">
                        </div>
                        <div>Deliver To</div>
                        <div>
                        <img src="https://f.nooncdn.com/s/app/com/noon/icons/dropdownArrow.svg"
                        alt="areaCode">
                        </div>
                    </div>
                    <div class="mx-1">
                        <input type="text" id="searchBar" 
                        class=" form-control" placeholder="what are you looking for?" value="">
                    </div>
                    <div class="">
                        <div  class="mx-1">العربيه</div>
                    </div>
                   <div class="signIn">
                    Sign In 
                    <img src="https://f.nooncdn.com/s/app/com/noon/icons/user_thin.svg"   width="20px" height="20px">
                   </div> 
                   <div class="mx-1">
                      <b> cart</b>
                      <img src="https://f.nooncdn.com/s/app/com/noon/icons/cart.svg" alt="cart"
                        width="20px" height="20px" class="">
                   </div>
                </div>
            </div>
        </header>
    </div>
</div>


<div class="sc-1cdb670-1 kRuVos">
        <!-- <span class="addressContainer">
          <span  class="sc-1cdb670-2 iSwspT">Deliver To 
             <div class="sc-1cdb670-5 cVLdyv">
    class="sc-afe2674f-1 cfKlFZ">
            </div>
          </span>
        <div class="defaultAddress"><span class="sc-1cdb670-4 gdRSMc">cairo</span></div>
    </span>
</div> -->
<!-- 
         
            <div class="sc-18c36cbe-8 bsCrO">
              
                   
                </div>
            </div>
            
            <div class="sc-18c36cbe-1 cZRsbi">
                <div class="sc-bb66f476-0 bjTtes"><button type="button" class="trigger" data-qa="btn_header_signInOrUp"
                        style="display: flex; align-items: center; justify-content: center;"><span
                            id="dd_header_signInOrUp" class="userText">تسجيل الدخول</span><img
                            src="https://f.nooncdn.com/s/app/com/noon/icons/user_thin.svg" alt="Open Login Modal"
                            class="sc-afe2674f-1 cfKlFZ" style="width: 17px;"></button></div>
            </div><a href="/cart" title="عربة التسوق" class="cartLink" data-qa="btn_cartLink"><span
                    class="cartTitle">عربة التسوق</span>
                <div class="cartIconContainer"><img src="https://f.nooncdn.com/s/app/com/noon/icons/cart.svg" alt="cart"
                        width="20px" height="20px" class="sc-afe2674f-1 ecowdA"></div>
            </a>
        </div> -->